################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Csharp_lab1/Lab1/bin/Debug
/Csharp_lab1/Lab1/obj
/.vs
/Csharp_lab1/.vs
/Csharp_lab1/Csharp_lab4/obj/Debug
/Csharp_lab1/Csharp_lab4/bin/Debug
